* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #D32531;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

section {
    padding: 80px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

article {
    padding: 18px 0;
}

.post-title {
    font-size: 18px;
    color: #080808;
    padding: 12px;
}

.post-excerpt {
    padding-bottom: 60px;
}

.search-box{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #D32531;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D32531;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* HEADER */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/rolling_stone_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 25px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #D32531;
}

/* IMMAGINI DI ANTEPRIMA */

.post-thumbnail {
    width: 300px;
    height: 200px;
    filter: brightness(1);
}

.post-thumbnail:hover {
    filter: brightness(0.8);
    transition: brightness 0.4s;
}

/* LINK */

.post-permalink:link,
.post-permalink:visited {
    color: #D32531;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #D32531;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

.post-permalink:hover,
.post-permalink:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* FOOTER */

footer {
    background-color: #D32531;
    padding: 50px;
    font-size: 90%;
    margin-top: 150px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover,
.ion-social-twitter:hover,
.ion-social-instagram:hover {
    color: #fff;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}